.card-perfil {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card-perfil .banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}
.card-perfil .banner img {
    background-color: #fff;
    height: 16rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transform: translateY(20%);
    transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


.card-perfil .menu {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
}
.card-perfil .menu .opener {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
}
.card-perfil .actions .follow-info h4 a:hover,
.card-perfil .menu .opener:hover {
    background-color: #f2f2f2;
}
.card-perfil .menu .opener span {
    background-color: #404040;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0;
    left: calc(50% - 0.2rem);
    border-radius: 50%;
}
.card-perfil .menu .opener span:first-child {
    top: 0.45rem;
}
.card-perfil .menu .opener span:nth-child(2) {
    top: 1.05rem;
}
.card-perfil .menu .opener span:nth-child(3) {
    top: 1.65rem;
}
.card-perfil h4.name {
    text-align: center;
    padding: 0 2rem 0.5rem;
    margin: 0;
}
.card-perfil .title {
    color: #a0a0a0;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 2rem 1.2rem;
}
.card-perfil .actions {
    padding: 0 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    order: 99;
}
.card-perfil .actions .follow-info {
    padding: 0 0 1rem;
    display: flex;
}
.card-perfil .actions .follow-info h4 {
    text-align: center;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}
.card-perfil .actions .follow-info h4 a {
    text-decoration: none;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    transition: background-color 0.1s ease-in-out;
}
.card-perfil .actions .follow-info h4 a span {
    color: #1c9eff;
    font-weight: 700;
    transform-origin: bottom;
    transform: scaleY(1.3);
    transition: color 0.1s ease-in-out;
}
.card-perfil .actions .follow-info h4 a small {
    color: #afafaf;
    font-size: 0.85rem;
    font-weight: 400;
}
.card-perfil .actions .follow-info h4 a:hover span {
    color: #007ad6;
}
.card-perfil .actions .follow-btn button {
    color: inherit;
    font: inherit;
    font-weight: 700;
    background-color: #ffd01a;
    width: 100%;
    border: none;
    padding: 1rem;
    outline: 0;
    box-sizing: border-box;
    border-radius: 1.5rem/50%;
    transition: background-color 0.1s ease-in-out, transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.card-perfil .actions .follow-btn button:hover {
    background-color: #efb10a;
    transform: scale(1.1);
}
.card-perfil .actions .follow-btn button:active {
    background-color: #e8a200;
    transform: scale(1);
}
.card-perfil .desc {
    padding: 0 2rem 2.5rem;
    order: 100;
}

.items-body {
    display: grid;
    grid-gap: 10px;
}
.items-body-content {
    padding: 8px 0 8px 8px;
    display: grid;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
}
.items-body-content:hover {
    border-radius: 15px;
    border: 1px solid #0b5aa2;
}
.items-body-content i {
    align-self: center;
    font-size: 14px;
    color: #0b5aa2;
    font-weight: 700;
}

/* tabs effect*/
.accordion {
    background: #f9f9f9;
}

.accordion {
    /*box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);*/
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.accordion-tabs {
    display: none;
}

.accordion-tabs :focus {
    outline: none;
}

.accordion-item {
    border-bottom: 1px solid #eaeaea;
}

.accordion-item:last-child {
    border: none;
}

.accordion-item__label {
    margin: 0;
    padding: 1.25rem;
    cursor: pointer;
    transition: padding .2s ease;
    position: relative;
}

.accordion-item__label:after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    top: -4px;
    right: 1.25rem;
    bottom: 0;
    margin: auto;
    border: 3px solid transparent;
    border-radius: 2px;
    transform: rotate(45deg);
    border-color: transparent #447fff #447fff transparent;
    opacity: 1;
    transition: opacity .1s ease;
}

.accordion-item__label:hover {
    background: rgba(68, 127, 255, 0.1);
}

.accordion-item__container {
    padding: 0 1.25em;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: padding .2s ease, opacity .5s .15s ease;
}

.accordion-active {
    background: rgba(68, 127, 255, 0.1);
}

.accordion-active .accordion-item__label {
    padding-bottom: 0;
    cursor: inherit;
}

.accordion-active .accordion-item__label:hover {
    background: none;
}

.accordion-active .accordion-item__label:after {
    opacity: 0;
}

.accordion-active .accordion-item__container {
    padding: 1.25em;
    height: auto;
    opacity: 1;
}

.accordion-active .accordion-item__container p:first-child,
.accordion-active .accordion-item__container h1:first-child,
.accordion-active .accordion-item__container h2:first-child,
.accordion-active .accordion-item__container h3:first-child,
.accordion-active .accordion-item__container h4:first-child,
.accordion-active .accordion-item__container h5:first-child,
.accordion-active .accordion-item__container h6:first-child {
    margin-top: 0;
}

.accordion-active .accordion-item__container p:last-child,
.accordion-active .accordion-item__container h1:last-child,
.accordion-active .accordion-item__container h2:last-child,
.accordion-active .accordion-item__container h3:last-child,
.accordion-active .accordion-item__container h4:last-child,
.accordion-active .accordion-item__container h5:last-child,
.accordion-active .accordion-item__container h6:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .accordion-tabs {
        display: flex;
        background: rgba(68, 127, 255, 0.1);
    }
    .accordion-tabs .accordion-tab {
        background: rgba(68, 127, 255, 0.1);
        padding: 1.2rem 0.2rem;
        font: inherit;
        flex: 1;
        border: none;
        cursor: pointer;
        transition: background .1s ease;
    }
    .accordion-tabs .accordion-tab:hover {
        background: rgba(249, 249, 249, 0.01);
    }
    .accordion-tabs .accordion-tab:last-child {
        border-right: 0;
    }
    .accordion-tabs .accordion-tab.accordion-active {
        background: #f9f9f9;
        font-weight: bolder;
    }
    .accordion-item {
        padding: 2rem;
        display: none;
        border: none;
        background: #f9f9f9;
        min-height: 260px;
    }
    .accordion-item__label {
        margin-bottom: 1.5rem;
        display: none;
    }
    .accordion-item__label, .accordion-item__container {
        padding: 0;
        transition: inherit;
    }
    .accordion-item.accordion-active {
        display: block;
    }
    .accordion-item.accordion-active .accordion-item__container {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .accordion-item__label {
        display: block;
    }
}

.accordion + p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: .9rem;
    margin-top: 2rem;
}

.row-span {
    background: rgb(2,2,2,0.1);
    border-radius: 5px;
    padding: 13px 20px;
    margin: 10px 0;
    font-weight: bolder;
}

.row-span .well-span {
    color: #6558d3;
}
