/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");*/
/*
body {
    background-color: #448AFF;
    font-size: .9375rem;
    overflow-x: hidden;
    color: #333;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 240px, #f2f7fb 0%)
}
*/

/*panel*/
:root {
  --panel-color: rgba(0, 0, 0, 0.135);
  --panel-border-width: 0.1em;
  --panel-padding: 0.75em;
}

.fz-15 {
	font-size: 15px;
}

.fz-13 {
	font-size: 13px;
}

.fz-12 {
	font-size: 12px;
}

.position-table {
	z-index: 1;
	position: relative;
	margin-bottom: 10px;
}

.spinner-sum {
	-webkit-animation: spinner-border 1s linear infinite;
	animation: spinner-border 1s linear infinite;
}

.panel {
  background: var(--panel-color);
  border-radius: var(--panel-border-width);
  padding: var(--panel-border-width);
}

.panel__header, 
.panel__content {
  padding: var(--panel-padding);
}

.panel__content {
  background: #fff;
}

.subtitle-card {
	font-weight: 600;
	margin-top: 30px;
}

.subtitle-card + p{
	color: #6558d3;
	font-weight: 500;
}

/* especials buttons*/
.to-go {
	display: -webkit-inline-flex;
	display: inline-flex;
	background: #3b4ce2;
	color: #fff;
	border-radius: 8px;
	padding: 8px 12px;
	text-decoration: none;
	-webkit-align-items: center;
	align-items: center;
	transition: background 0.2s ease-out;
}

.to-go:hover {
	background: #000;
}

.to-go i {
	margin-right: 0.5em;
}

.to-go:hover {
	background: #2538df;
	color: #fff;
}

.to-save {
	display: inline-block;
	padding: 8px 12px;
	border-radius: 8px;
	background: #10b981;
	top: 1em;
	right: 1em;
	color: #fff;
	font-weight: 500;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.to-save:hover {
	background: #0ea271;
	color: #fff;
}

.to-save i {
	display: inline-block;
	margin-right: 0.5em;
}
/******************************************/

.example {
	margin-top: 20px;
	/*
  display: flex;
  flex-grow: 1;
  padding: 1em max(1em, calc(50vw - 35ch));
  place-items: center;
  */
}

.example > * {
  flex-grow: 1;
}

/* acordeon busqueda*/
.acordeon {
	margin: 0 auto;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	border-radius: 10px;
}

.acordeon-cabecera {
	letter-spacing: 1px;
	border-bottom: 1px solid #DDE0E7;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	padding: 1rem;
  	background: linear-gradient(to right, #2b5876, #4e4376);
  	border-radius: 10px;
}
/*
.acordeon-cabecera:hover {
	background: #fdf8d7;
}
*/
.acordeon-cabecera.active {
	-webkit-border-top-left-radius: 10px !important;
	-webkit-border-top-right-radius: 10px !important;
	-moz-border-radius-topleft: 10px !important;
	-moz-border-radius-topright: 10px !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
  	border-radius: 0;
}

.acordeon-contenido {
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #fff;
	padding: 1rem;
	color: #4a5666;
  	border-radius: 10px;
}

.acordeon-cabecera.active i {
    transform: rotate(-180deg);
}

.acordeon-cabecera i {
    font-size: 1.2em;
    float: right;
    position: relative;
    transition: .3s all;
    transform: rotate(0deg);
}

/***************************************/



/* vista de transici�n */
.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.5s ease;
}
.loader .loader__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.loader .loader__icon svg {
  transform-origin: 0 0;
}
.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #0B5345;
  transition: width 0.7s ease;
}
.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
  background-color: #0E6655;
}
.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
  background-color: #117A65;
}
.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
  background-color: #138D75;
}
.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
  background-color: #16A085;
}
.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
  background-color: #45B39D;
}
.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
  background-color: #73C6B6;
}
.loader--active {
  width: 100%;
  transition-delay: 0s;
}
.loader--active .loader__icon {
  opacity: 1;
  transition: opacity 0.5s 1.5s ease;
}
.loader--active .loader__tile {
  width: 100%;
}
.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}
.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}
.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}
.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}
.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}
.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}

/*********************************/

.input_notas {
	height: 25px;
    /*width: 100px;*/
    text-align: center;
    font-weight: 700!important;
}

.error_calif {
	border: 1.5px solid red;
}

.verSeccion {
	background: #CD6155;
    color: white;
    margin: 2px;
    border-color: #CD6155;
}

 .input_accordion {
	 position: fixed;
	 opacity: 0;
	 z-index: -1;
}

/* Accordion styles */
 .tabs {
	 border-radius: 5px;
	 overflow: hidden;
	 box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
 .tab {
	 width: 100%;
	 color: white;
	 overflow: hidden;
}
 .tab-label {
	 display: flex;
	 justify-content: space-between;
	 padding: 10px;
	 font-size: 13px;
	 margin-bottom: 0 !important;
	 background: #154360;
	 font-weight: bold;
	 cursor: pointer;
	/* Icon */
}
 .tab-label:hover {
	 background: #2471A3;
	
}
 .tab-label::after {
	 content: "\276F";
	 width: 1em;
	 height: 1em;
	 text-align: center;
	 transition: all 0.35s;
}
 .tab-content_accordion {
	 max-height: 0;
	 padding: 0 1em;
	 color: #2c3e50;
	 background: #D4E6F1;
	 transition: all 0.35s;
}
 .tab-close {
	 display: flex;
	 justify-content: flex-end;
	 padding: 1em;
	 font-size: 0.75em;
	 background: #2c3e50;
	 cursor: pointer;
}
 .tab-close:hover {
	 background: #1a252f;
}
 input:checked + .tab-label {
	 background: #2471A3;
}
 input:checked + .tab-label::after {
	 transform: rotate(90deg);
}
 input:checked ~ .tab-content_accordion {
	 max-height: 100vh;
	 padding: 8px;
}
  
/************   card especials ********************/

 .col {
	 padding: 1rem;
}
 @media (min-width: 650px) {
	 .col {
		 width: 50%;
		 float: left;
	}
	 .col:nth-of-type(2n+1) {
		 clear: left;
	}
}
 .card_esp {
	 display: block;
	 text-align: center;
	 color: #eee;
}
 .card_esp .card-content {
	 padding: 2rem 1rem;
}
 .card_esp .title {
	 font-size: 1.25rem;
	 background-color: gray;
	 border-radius: 5px;
	 padding: 0.3rem;
}
 .card-4 .card-content {
	 background-color: rgba(155, 216, 205, 1) !important;
	 border-radius: 15px;
}
 .card-4:before, .card-4:after {
	 border-radius: 15px;
}
 .card-4:before {
	 background-color: rgba(100, 194, 177, 1) !important;
}
 .card-4 .title, .card-4:after {
	 background-color: rgba(61, 156, 139, 1) !important;
}

[class*='stacked--'] {
	 position: relative;
	 transition: transform 0.3s ease-in-out;
	 will-change: transform;
}
 [class*='stacked--']:before, [class*='stacked--']:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background-color: currentColor;
	 transition: transform 0.3s ease-in-out;
	 will-change: transform;
}
 [class*='stacked--']:before {
	 z-index: -1;
}
 [class*='stacked--']:after {
	 z-index: -2;
}

 .stacked--down:before, .stacked--down:after {
	 transform-origin: center top;
}
 .stacked--down:hover {
	 transform: translate(0, 10px);
}
 .stacked--down:hover:before {
	 transform: translate(0, -10px) scale(0.95);
}
 .stacked--down:hover:after {
	 transform: translate(0, -15px) scale(0.9);
}
/*********************************************/
.card-pro {
	width: 100%;
	display: block;
	border-radius: 15px;
	padding: 20px !important;
	border: none;
}

.card {
	border-radius: 15px;
	border: none;
	margin: 10px 0 10px;
}

.label-dark {
	background-color: rgb(23, 32, 42, 0.3);
	color: #000000 !important;
	font-weight: 600;
	padding: 1px 5px;
	border-radius: 3px;
}

.label-primary {
	background-color: rgb(0, 0, 255, 0.25);
	color: #0000FF !important;
	font-weight: 700;
	padding: 1px 5px;
	border-radius: 3px;
}

.label-success {
	background-color: rgba(28, 172, 129, 0.25);
	color: #117864 !important;
	font-weight: 700;
	padding: 1px 5px;
	border-radius: 3px;
}

.label-danger {
	background-color: rgba(253, 57, 122, 0.25);
	color: #E74C3C !important;
	font-weight: 700;
	padding: 1px 5px;
	border-radius: 3px;
}

.label-warning {
	background-color: rgba(255, 184, 34, 0.3);
	color: #B7950B !important;
	font-weight: 700;
	padding: 1px 5px;
	border-radius: 3px;
}

article.ar-title {
	background: linear-gradient(to right, #011a32, hsl(230 100% 62%));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-bottom: 10px;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: rgb(68,138,255,0.2);
	font-size: 14px;
	color: #333;
	overflow-x: hidden;
	height: 100%;
}
 
.page-content-wrap {
    top: 90px;
    position: relative;
}

.display1 {
	top: 90px;
} 

.aside_ {
	width: 100px;
}

.navbar2 {
	position: fixed;
}

.ch-title {
	font-size: 18px;
	/*float: left;*/
}

.ch-button {
	float: right;
}

.mt-40 {
	margin-top: 40px;
}

.p-8-15 {
	padding: 8px 15px;
}

.cb-extra {
    padding: 5px 8px;
    line-height: 15px;
    background: #E8F8F5;
}

.panel-menu-trigger {
    position: fixed;
    background: rgba(52, 73, 94, 0.95);
    z-index: 2;
    height: 60px;
    top: 75px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.titulo_panel {
    border-radius: 5px;
    background: seagreen;
    padding: 5px 10px;
    color: #fff;
}

.panel_1 {
	background: #EAECEE;
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	max-height: 800px;
    height: 800px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid seagreen;
}

.panel_2 {
	background: #EAECEE;
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	max-height: 500px;
	height: 450px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid seagreen;
}

.panel_3 {
	/*background: #EAECEE;*/
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	max-height: 220px;
	height: 220px;
    padding: 5px;
    border-radius: 5px;
    /*border: 2px solid seagreen;*/
}

.panel_2P {
	background: #fff;
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	max-height: 400px;
	height: 350px;
    padding: 5px;
    border-radius: 5px;
    /*border: 2px solid seagreen;*/
}

.grid_list_0 {
	background: #fff;	
  	text-align: center;
  	border: 1px dashed #333;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.grid_list_0:hover {
    opacity: 1;
    font-weight: bolder;
}

.grid_list {
	background: #fff;
	display: grid;
	grid-template-columns: 90% 10%;
	justify-content: center;
  	align-content: center;
  	align-items: center;
  	border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.grid_list2 {
	background: #fff;
	display: grid;
	grid-template-columns: 75% 25%;
	justify-content: center;
  	align-content: center;
  	align-items: center;
  	border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.grid_list_3 {
	background: #fff;
  	border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.grid_pre {
	display: grid;
	grid-template-columns: 80% 20%;
	justify-content: center;
  	align-content: center;
  	align-items: center;
  	padding: 10px;
}
/*
li.nav-item {
	background: lavender;
    border-radius: 50px;
}
*/
/*input con letra grande y bold*/
.input-bold {
	letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 15px;
}
/**************************************************************************************************************************************/
/* header*/
img.white-logo {
    float: left;
    padding-right: 4px;
    height: 45px;
}
/*
ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0
}
*/
*:focus {
    outline: none
}

.img-radius {
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
    box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2)
}

a {
    text-decoration: none !important
}

.bg-c-red {
    background: #FF5370
}

.text-c-red {
    color: #FF5370
}

.sidebar_toggle a {
    margin: -5px;
    line-height: 1
}

.header-navbar {
    min-height: 70px;
    padding: 0
}

.header-navbar .navbar-wrapper .navbar-logo {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    width: 288px;
    /*padding: 20px 10px;*/
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1)
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-options,
.header-navbar .navbar-wrapper .navbar-logo .mobile-search {
    display: none;
}

.header-navbar .navbar-wrapper .navbar-logo[logo-theme="theme6"] {
    background: #16A085;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li,
.header-navbar .navbar-wrapper .navbar-container .nav-right li {
    float: left;
    line-height: 4.4;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}

@media only screen and (max-width: 575px) {

    .header-navbar .navbar-wrapper .navbar-container .nav-left li,
    .header-navbar .navbar-wrapper .navbar-container .nav-right li {
        padding: 0 15px;
    }
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li .sidebar_toggle a,
.header-navbar .navbar-wrapper .navbar-container .nav-right li .sidebar_toggle a {
    display: none
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li>a,
.header-navbar .navbar-wrapper .navbar-container .nav-right li>a {
    font-size: 16px;
    display: block
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li>a>i.flag-icon,
.header-navbar .navbar-wrapper .navbar-container .nav-right li>a>i.flag-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px
}

.header-navbar .navbar-wrapper .navbar-container .nav-left a,
.header-navbar .navbar-wrapper .navbar-container .nav-right a {
    padding: 0 0.6rem
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .dropdown-toggle::after,
.header-navbar .navbar-wrapper .navbar-container .nav-right .dropdown-toggle::after {
    display: none
}

.header-navbar .navbar-wrapper .navbar-container .nav-right {
    float: right
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile img {
    margin-right: 10px;
    width: 40px
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile i {
    font-size: 10px;
    margin-left: 10px
}

.header-navbar .navbar-wrapper .navbar-container .nav-right>.header-notification:nth-child(1) .show-notification li:first-child:hover,
.header-navbar .navbar-wrapper .navbar-container .nav-right>.header-notification:nth-child(1) .profile-notification li:first-child:hover {
    background-color: #fff
}

.header-navbar .navbar-wrapper .navbar-container .header-notification {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    z-index: 99;
    position: relative
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
    background: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
    opacity: 1;
    position: absolute;
    left: auto;
    right: -15px;
    visibility: visible;
    overflow: visible;
    width: 24rem;
    padding: 15px 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification.show:before,
.header-navbar .navbar-wrapper .navbar-container .header-notification .show.profile-notification:before {
    content: "";
    border: 10px solid transparent;
    border-left-color: #fff;
    border-top-color: #fff;
    position: absolute;
    border-radius: 3px;
    top: -8px;
    right: 15px;
    -webkit-box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, 0.3);
    box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 100;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification a,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification a {
    color: #333
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li {
    line-height: initial;
    padding: 1em 20px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child {
    padding: 10px 20px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child h6,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child label,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child label {
    float: right
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li img,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li img {
    width: 40px;
    margin-right: 10px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:hover,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:hover {
    background-color: #D6DBDF
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification.row li:hover,
.header-navbar .navbar-wrapper .navbar-container .header-notification .row.profile-notification li:hover {
    background-color: transparent
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-user,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-user {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-msg,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-msg {
    margin-bottom: 5px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-time,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-time {
    font-size: 12px;
    color: #919aa3
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
    width: 17em
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification a {
    font-size: 15px;
    padding-left: 0
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification a:hover {
    background-color: transparent
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification i {
    font-size: 15px;
    margin-left: 0;
    margin-right: 5px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li {
    border-top: none;
    padding: 0.7em 20px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child {
    padding: 0.7em 20px
}

.header-navbar .navbar-wrapper .navbar-container .badge {
    border-radius: 50%;
    right: -12px;
    position: absolute;
    top: 12px;
    color: #fff;
    padding: 4px;
    width: 19px;
    -webkit-animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}

.header-navbar .navbar-wrapper .header-search {
    line-height: 0.8
}

.header-navbar .navbar-wrapper .header-search .main-search {
    padding: 19px 0;
    display: block
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group {
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 20px
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .form-control {
    padding: 0.3rem 0.75rem;
    width: 0;
    border: none;
    background-color: transparent
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-append,
.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-prepend {
    background-color: transparent;
    border: none
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-append .input-group-text,
.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-prepend .input-group-text {
    background-color: transparent;
    border: none
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-append.search-close,
.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-prepend.search-close {
    display: none
}

.header-navbar .navbar-wrapper .header-search .main-search.open {
    color: #000;
    line-height: 1
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group {
    background-color: #fff
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .form-control {
    display: block
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-append .input-group-text,
.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-prepend .input-group-text {
    color: #000
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-append.search-close,
.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-prepend.search-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
/*
.pcoded .pcoded-header {
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
    box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1)
}

.pcoded .pcoded-navbar {
    display: block;
    font-family: "Quicksand", sans-serif
}

.pcoded .pcoded-navbar .nav-list {
    overflow: hidden;
    height: calc(100vh - 70px);
    border-radius: 0 0 0 0;
    -webkit-box-shadow: 0 2px 15px 0 rgba(43, 43, 43, 0.2);
    box-shadow: 0 2px 15px 0 rgba(43, 43, 43, 0.2)
}

@media only screen and (max-width: 992px) {
    .pcoded .pcoded-navbar .nav-list {
        height: 100%
    }
}

.pcoded .pcoded-header[pcoded-header-position="fixed"] {
    position: fixed;
    top: 0;
    z-index: 3;
}

.pcoded .pcoded-header[header-theme="themelight1"] {
    background: #fff
}

.pcoded .pcoded-header[header-theme="themelight1"] .navbar-logo a {
    color: #fff
}
*/
@media only screen and (max-width: 992px) {
    body.menu-bottom .navbar-wrapper .pcoded-navbar {
        top: -70px
    }
}


@media only screen and (max-width: 992px) {

    .navbar,
    .navbar .navbar-logo {
        width: 100%
    }

    #dt-live-dom .form-control,
    #footer-search tfoot .form-control,
    #footer-select tfoot .form-control,
    #form-input-table .form-control,
    .search-api .form-control {
        width: 80%
    }

    .header-navbar {
        z-index: 2;
        top: 0
    }

    .header-navbar[pcoded-header-position="relative"] {
        top: 0
    }

    .header-navbar .navbar-wrapper .navbar-container {
        margin-left: 0
    }

    .header-navbar .navbar-wrapper .navbar-logo {
        width: 100%
    }

    .header-navbar .navbar-wrapper .navbar-logo a img {
        display: block
    }

    .header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
        right: auto;
        left: 0;
        top: 0;
        width: 60px
    }

    .header-navbar .navbar-wrapper .navbar-logo .mobile-search {
        display: block;
        position: absolute;
        left: 70px;
        top: 0
    }

    .header-navbar .navbar-wrapper .navbar-logo .mobile-options {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
        line-height: 4.4;
        width: 60px
    }

    .header-navbar .navbar-container .nav-left,
    .header-navbar .navbar-wrapper .navbar-container .nav-right {
        display: none;
    }
}

@media only screen and (min-width: 993px) {
	.nav-right {
	    display: block !important;
	}
}
/*
@media only screen and (max-width: 768px) {
    h4 {
        font-size: 1rem;
        font-weight: 500
    }

    .card h5 {
        font-size: 16px
    }

    .header-navbar .navbar-wrapper .navbar-logo {
        display: inherit
    }

    .header-navbar .navbar-wrapper .navbar-logo a {
        display: inline-block
    }

    body.horizontal-icon .page-header,
    body.horizontal-icon-fixed .page-header {
        margin-top: 0
    }

    body.horizontal-icon .pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon,
    body.horizontal-icon-fixed .pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon {
        display: inline-block;
        margin-right: 20px
    }
}
*/
@media only screen and (max-width: 993px) {

    .navbar,
    .navbar .navbar-logo {
        width: 100%
    }
}

@media only screen and (max-width: 573px) {
    .md-tabs {
        display: initial
    }

    .md-tabs .nav-item {
        width: calc(100% / 1);
        position: relative
    }

    .nav-tabs.tabs {
        display: inherit
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border: none
    }
}

@media only screen and (max-width: 576px) {

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification,
    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
        min-width: 280px;
        left: -30px;
        right: auto;
        width: auto
    }

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification:before,
    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification:before {
        right: calc(100% - 40px)
    }

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
        left: auto;
        right: 0
    }

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification:before {
        right: 40px
    }
}

/* tabs */

div.card_m {
    border: 0;
    margin-top: 30px;
    border-radius: 10px;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

div.card_m.card-plain {
    background: transparent;
    box-shadow: none;
}
div.card_m .card-header {
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
}

.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.card-body .card-content-my {
	margin-top: 10px;
	background: rgba(82, 127, 79, 0.2);
	border-radius: 5px;
}

div.card_m .card-header-danger {
    background: linear-gradient(to right, #2b5876, #4e4376);
}


.card-nav-tabs .card-header {
    margin-top: -30px!important;
}

.card_m .card-header .nav-tabs {
    padding: 0;
}

.nav-tabs {
    border: 0;
    border-radius: 5px;
    padding: 0 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0,0%,100%,.2);
}

.nav-tabs .nav-item .nav-link{
    border: 0!important;
    color: #F1C40F!important;
    font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
    color: #F1C40F;
    border: 0;
    margin: 0;
    border-radius: 5px;
    /*line-height: 24px;*/
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    background-color: transparent;
}

.nav-link{
    display: block;
}

.nav-tabs .nav-item .material-icons {
    margin: -1px 5px 0 0;
    vertical-align: middle;
}

.nav .nav-item {
    position: relative;
}
/*
.card-body .card-content-y {
	background: rgba(21, 67, 96, 0.1);
	border-radius: 5px;
	margin-top: 10px;
}
*/
/*****************************************/
/*cargando paginas*/


/****************************************************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background: rgb(0,0,0,0.95);
  z-index: 9999;
}
.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
    font-size: 30px;
  display: inline-block;
  margin: 0 5px;
  color: #FAE5D3;
  /*font-family: 'Quattrocento Sans', sans-serif;*/
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-text span:nth-child(8) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}
@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
/********************************************/
/**===== circle5 =====*/
#circle5 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px #008744 solid;
  border-right: 4px #0057e7 solid;
  border-bottom: 4px #d62d20 solid;
  border-radius: 50%;
  -webkit-animation: spin5 1s infinite linear;
          animation: spin5 1s infinite linear;
}

@-webkit-keyframes spin5 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin5 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/** END of circle5 */