/* TABLES */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-color: #E5E5E5;
	border-width: 1px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th
	{
	background: #F8FAFC;
}

.table>thead>tr>th {
	background: #f1f5f9;
	color: #56688A;
	font-size: 13px;
	vertical-align: middle;
	padding: 8px;
	text-align: center;
}

.table-hover>tbody>tr:hover {
	background-color: #e8e7e7;
}

.panel-body.panel-body-table {
	padding: 0px;
}

.panel-body.panel-body-table h1, .panel-body.panel-body-table h2, .panel-body.panel-body-table h3,
	.panel-body.panel-body-table h4, .panel-body.panel-body-table h5, .panel-body.panel-body-table h6
	{
	padding-left: 10px;
	margin-bottom: 10px;
}

.panel-body.panel-body-table .table {
	margin-bottom: 0px;
	border: 0px;
}

.panel-body.panel-body-table .table tr>td:first-child, .panel-body.panel-body-table .table tr>th:first-child
	{
	border-left: 0px;
}

.panel-body.panel-body-table .table tr>td:last-child, .panel-body.panel-body-table .table tr>th:last-child
	{
	border-right: 0px;
}

.panel-body.panel-body-table .table>tbody>tr:last-child>td {
	border-bottom: 0px;
}

.panel-body.panel-body-table td, .panel-body.panel-body-table th {
	padding: 8px 10px;
}

.table.table-actions td {
	line-height: 28px;
}

.table .progress-small {
	margin: 7px 0px 8px;
}

.table td, .table th {
    vertical-align: middle;
    font-size: 13px;
}
/* EOF TABLES */
/* Datatables */

.dataTable {
	float: left;
	border-bottom: 1px solid #E5E5E5 !important;
	margin-bottom: 5px;
	border-radius: 4px;
	width: 100% !important;
}

.dataTable div.checker, .dataTable div.radio {
	display: inherit;
}

.dataTables_wrapper {
	/*float: left;*/
	width: 100%;
}

.dataTables_length {
	width: 50%;
	float: left;
	padding: 0px 0px 5px;
	font-size: 12px;
}

.dataTables_length label, .dataTables_filter label {
	padding: 0px;
	line-height: 26px;
	height: auto;
	margin: 0px;
	font-weight: normal;
}

.dataTables_length select {
	width: 70px;
	display: inline;
	margin: 0px 5px;
}

.dataTables_filter {
	float: right;
	padding-left: 5px;
	padding: 0px 0px 5px;
	font-size: 12px;
}

.dataTables_filter label {
	float: right;
}

.dataTables_filter label input {
	width: 150px;
	display: inline;
	margin-left: 5px;
}

td.dataTables_empty {
	font-size: 11px;
	text-align: center;
	color: #333;
}

.dataTables_info {
	float: left;
	font-size: 12px;
	padding: 0px;
	line-height: 30px;
}

.dataTables_paginate {
	padding: 0px;
	text-align: right;
	float: right;
}

.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_disabled_next,
	.dataTables_paginate a.paginate_button, .paginate_enabled_next,
	.paginate_active, .paginate_enabled_previous {
	padding: 5px 10px;
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: left;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #656d78;
	margin-left: 3px;
	cursor: pointer;
}

.dataTables_paginate .paginate_enabled_next:hover, .dataTables_paginate a.paginate_button:hover,
	.dataTables_paginate .paginate_enabled_previous:hover {
	background-color: #eee;
	border-color: #ddd;
	color: #222;
}

.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover
	{
	background: #1e293d;
	color: #FFF;
	border-color: #1e293d;
}

.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_button_disabled,
	.dataTables_paginate a.paginate_disabled_next {
	cursor: default;
	color: #ccc;
}

.dataTables_paginate a.paginate_button_disabled:hover {
	box-shadow: none;
	color: #ccc;
}

td.dt-control {
	background: url(../../image/details_open.png) no-repeat center center;
	background-size: 20px 20px;
	cursor: pointer;
}

tr.details td.dt-control {
	background: url(../../image/details_close.png) no-repeat center center;
	background-size: 20px 20px;
	cursor: pointer;
}

/***********************************************/
.img-responsive {
	border-radius: 15px;
    width: 100%;
    max-width: 600px;
}

.badge-teo {
	color: #fff;
    background-color: #1A76FF;
}

.badge-pra-lab {
	color: #fff;
    background-color: #071E40;
}

.well-legend {
	display: block;
	font-size: 13px;
	width: auto;
	padding: 5px 12px;
	margin-bottom: 0px;
	line-height: inherit;
	color: #333;
	background: rgb(250, 215, 160, 0.8);
	backdrop-filter: blur(20px);
	border-radius: 30px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-legend2 {
	display: block;
	font-size: 13px;
	width: auto;
	padding: 5px 12px;
	margin-bottom: 0px;
	line-height: inherit;
	color: #333;
	background: #FAD7AF;
	border-radius: 30px;
}

.well {
    min-height: 20px;
	padding: 10px 20px 20PX;
    margin: 20px 0;
    background: rgb(43, 88, 118, 0.5);
	backdrop-filter: blur(20px);
    border-radius: 15px;
	color: #F1C40F;
}

.well2 {
    min-height: 20px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 15px;
    background: #fff;
    color: #333;
	border: 1px solid #e3e3e3;
}

.row-span {
	background: rgb(101, 88, 211, 0.15);
	border-radius: 5px;
	padding: 8px 15px;
	margin: 5px 0;
	font-weight: bolder;
}

.row-span2 {
	/*background: rgb(101, 88, 211, 0.15);*/
	border-radius: 5px;
	padding: 5px 0;
	margin: 5px 0;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	color: #6558d3;
}

.well .well-span, .well2 .well-span, .well-span {
    font-weight: bold;
    color: #6558d3;
}

/** validación **/
.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/*progress bar*/
.progress {
	height: 25px!important;
}
.progress-bar {
	color: #333!important;
	font-weight: 600!important;
}

/*timer*/
.timer {
	font-size: 16px;
	font-weight: bolder;
	color: #fff;
}
.jst-hours {
	float: left;
}
.jst-minutes {
	float: left;
}
.jst-seconds {
	float: left;
}
.jst-clearDiv {
	clear: both;
}
.jst-timeout {
	color: red;
}

/*hide name in header*/
@media only screen and (max-width: 576px) {
	.dd-hide {
		display: none;
	}
}

/********************************************************************************/
/* tooltip */
/*
  You want a simple and fancy tooltip?
  Just copy all [data-tooltip] blocks:
  Use:
     <a href="#"
       data-tooltip="This link goes nowhere"
       data-tooltip-location="right">
          A typical anchor element
    </a>

*/
[data-tooltip] {
	position: relative;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
	z-index: 10;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	left: 50%;
	bottom: calc(100% + 5px); /* 5px is the size of the arrow */
	pointer-events: none;
	transition: 0.2s;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
	content: attr(data-tooltip);
	padding: 5px 10px;
	min-width: 50px;
	max-width: 300px;
	width: max-content;
	width: -moz-max-content;
	border-radius: 6px;
	font-size: 14px;
	background-color: rgba(59, 72, 80, 0.9);
	background-image: linear-gradient(30deg,
	rgba(59, 72, 80, 0.44),
	rgba(59, 68, 75, 0.44),
	rgba(60, 82, 88, 0.44));
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
	color: #fff;
	text-align: center;
	white-space: pre-wrap;
	transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
	content: '';
	border-style: solid;
	border-width: 5px 5px 0px 5px; /* CSS triangle */
	border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
	transition-duration: 0s; /* If the mouse leaves the element,
                              the transition effects for the
                              tooltip arrow are "turned off" */
	transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
	transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
	transition-delay: 0.3s;
	transform: translate(-50%, -5px) scale(1);
}
/*
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
	transition-delay: 0.5s; /* Starting after the grow effect */
	transition-duration: 0.2s;
	transform: translateX(-50%) scaleY(1);
}
/*
  That's it.
*/

/*
  If you want some adjustability
  here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
	left: auto;
	right: calc(100% + 5px);
	bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
	transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
	transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
	border-width: 5px 0px 5px 5px;
	border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
	transform-origin: left;
	transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
	transform: translateY(50%) scaleX(1);
}



/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
	left: calc(100% + 2px);
	bottom: 50%;
}

[data-tooltip-location="right"]:before {
	transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
	transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
	border-width: 5px 5px 5px 0px;
	border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
	transform-origin: right;
	transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
	transform: translateY(50%) scaleX(1);
}



/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
	top: calc(100% + 5px);
	bottom: auto;
}

[data-tooltip-location="bottom"]:before {
	transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
	transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
	border-width: 0px 5px 5px 5px;
	border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
	transform-origin: bottom;
}

/*Radiobutton en seleccionar seccion*/
@keyframes click-wave {
	0% {
		height: 25px;
		width: 25px;
		opacity: 0.35;
		position: relative;
	}
	100% {
		height: 100px;
		width: 100px;
		margin-left: -80px;
		margin-top: -80px;
		opacity: 0;
	}
}

.option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	height: 25px;
	width: 25px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	outline: none;
	position: relative;
	z-index: 1000;
}
.option-input:hover {
	background: #9faab7;
}
.option-input:checked {
	background: #2980B9;
}
.option-input:checked::before {
	height: 25px;
	width: 25px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
}
.option-input:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #2980B9;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
}
.option-input.radio {
	border-radius: 50%;
}
.option-input.radio::after {
	border-radius: 50%;
}