
		<main class="content">
			
		<div class="grid-layout">
			<div class="grid-item span-2x3">
				<div class="card card-pro">
					<div class="top-container">
						<!--<img src="https://i.imgur.com/G1pXs7D.jpg" class="img-fluid profile-image" width="70">-->
          <img src="/profile.png" class="img-fluid profile-image" width="70">
						
						<div class="ml-3">
							<h5 class="name">FARFAN NAVARRO, DARIO ALEXANDER</h5>
							<p class="mail">Estudiante</p>
						</div>
					</div>
					<div class="middle-container d-flex justify-content-start mt-3 p-2">
						<!--
                        <div class="dollar-div px-3">
                        </div>
                        -->
						<div class="d-flex flex-column ml-2">
							<span class="current-balance">Código</span>
							<span class="amount">18190005</span>
						</div>
					</div>
					<div class="middle-container d-flex justify-content-start mt-3 p-2">
						<div class="d-flex flex-column ml-2">
							<span class="current-balance">Facultad</span>
							<span class="amount">19 - CIENCIAS FISICAS</span>
						</div>
					</div>
					<div class="middle-container d-flex justify-content-start mt-3 p-2">
						<div class="d-flex flex-column ml-2">
							<span class="current-balance">Programa</span>
							<span class="amount">1 - E.P. de Ciencias Fisicas</span>
						</div>
					</div>
					<div class="middle-container d-flex justify-content-start mt-3 p-2">
						<div class="d-flex flex-column ml-2">
							<span class="current-balance">Especialidad</span>
							<span class="amount">0 - Estudios Generales</span>
						</div>
					</div>
					<div class="middle-container d-flex justify-content-start mt-3 p-2">
						<div class="d-flex flex-column ml-2">
							<span class="current-balance">Periodo Académico</span>
							<span class="amount">2025-0</span>
						</div>
					</div>
					<!--
                    <div class="recent-border mt-4">
                        <span class="recent-orders">Recent orders</span>
                    </div>
                    <div class="recent-border mt-3">
                        <span class="recent-orders">Wishlist</span>
                    </div>
                    <div class="recent-border mt-3">
                        <span class="recent-orders">Fashion studio</span>
                    </div>
                    -->
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Mi Información</span>
						<h2 class="title">Información Personal Académica</h2>
						<ul class="info">
							<li>Nombre, Fecha y Lugar de Nacimiento, Estado Civil,Sexo</li>
							<li>Domicilio, Teléfono y Correo Electrónico</li>
							<li>Facultad, Programa Académico, Especialidad</li>
							<li>Plan de Estudios, Año y Modalidad de Ingreso</li>
							<li>Situación Académica y Estado de Permanencia</li>
							<li>Promedio Ponderado, Número de Períodos Matriculados</li>
						</ul>
						<button class="button perfil">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
					<!--
					<article class="information [ card ]">
						<h2 class="title">The only tool you need to schedule your day</h2>
						<p class="info">Always keep updated with this simple tool on the go, when and where ever you need.</p>
						<dl class="details">
							<div>
								<dt>Satisfaction</dt>
								<dd>100%</dd>
							</div>
							<div>
								<dt>Customers</dt>
								<dd>4.5K</dd>
							</div>
						</dl>
					</article>
					-->
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Mi Información</span>
						<h2 class="title">Historial Académico y Calificaciones</h2>
						<ul class="info">
							<li>Períodos Académicos Matriculados, Plan de Estudios</li>
							<li>Ciclo, Asignatura, Creditaje, Tipo Asignatura</li>
							<li>Calificación, Sección, &nbsp;Tipo y Número de Acta</li>
						</ul>
						<button class="button historial">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Matrícula</span>
						<h2 class="title">Matrícula Vía Internet</h2>
						<ul class="info">
							<li>Período Académico Vigente</li>
							<li>Fecha, Usuario, Tipo de Matrícula</li>
							<li>Ciclo/Año, Código, Nombre, Tipo Asignatura</li>
							<li>Sección Matriculada, Docente</li>
							<li>Total de Cursos y Créditos Matriculados</li>
						</ul>
						<button class="button matricula">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Matrícula</span>
						<h2 class="title">Programación de Cursos</h2>
						<ul class="info">
							<li>Asignatura, Creditaje, Horas Teoría, Práctica, Laboratorio</li>
							<li>Sección, Docente, Turno, Aula, Horario</li>
						</ul>
						<button class="button programacion">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Reportes</span>
						<h2 class="title">Reporte Pre-Matrícula</h2>
						<ul class="info">
							<li>Prioridad de Matrícula</li>
							<li>Plan, Código y Nombre Descriptivo, Ciclo, Creditaje y Repitencias de la Asignatura</li>
							<li>Etapa del Proceso de Matrícula</li>
						</ul>
						<button class="button Rep_prematricula">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Reportes</span>
						<h2 class="title">Reporte Matrícula</h2>
						<ul class="info">
							<li>Registro de Matrícula del Período Académico Vigente</li>
							<li>Fecha, Usuario, Tipo de Matrícula</li>
							<li>Ciclo/Año, Código, Nombre, Tipo Asignatura</li>
							<li>Sección Matriculada, Docente</li>
						</ul>
						<button class="button Rep_matricula">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Reportes</span>
						<h2 class="title">Reporte de Deudas</h2>
						<ul class="info">
							<li>Relación de deudas</li>
							<li>Fecha, Usuario, Tipo de Matrícula</li>
							<li>Ciclo/Año, Código, Nombre</li>
							<li>Monto de deuda</li>
						</ul>
						<button class="button Rep_deudas">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
				</div>
			</div>
			<div class="grid-item span-2x2">
				<div class="cards">
					<article class="information card-pro">
						<span class="tag">Plan de Estudios</span>
						<h2 class="title">Plan de Estudios</h2>
						<ul class="info">
							<li>Asignaturas, Creditaje y Especificaciones del Plan</li>
							<li>Ciclo/Año, Código, Nombre, Tipo, Creditaje Asignatura</li>
							<li>Código, Nombre Asignatura Pre-Requisito</li>
							<li>Grupo</li>
						</ul>
						<button class="button plan">
							<span>Ver más...</span>
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
								<path d="M0 0h24v24H0V0z" fill="none"></path>
								<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor"></path>
							</svg>
						</button>
					</article>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="modalIrFormulario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">¡AVISO IMPORTANTE! ⚠</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<b>Estimado estudiante tiene que actualizar su formulario de datos personales en el módulo MI INFORMACION ---&gt; FORMULARIO DE DATOS debe llegar al 100% para continuar con el uso de la plataforma.
						</b>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnIrFormulario">Ingresar al Formulario
						</button>
					</div>
				</div>
			</div>
		</div>
	
		</main>

<style>
  .top-container > img{
    object-fit: cover;
    width: 100px;
  }

</style>
