<!doctype html>
<html lang="es">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="1cec4978-2768-41cf-b9f7-daa757d6c4a6">
    <meta name="root" content="/alumnoWebSum/">
    
    <title>Sistema Único de Matrícula - Inicio</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/menu-full-page.css">
    <!--<link rel="stylesheet" th:href="@{/css/feather.css}" />-->
    <link rel="stylesheet" href="/all.min.css">
    <!-- <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" /> -->
    <link rel="stylesheet" href="/theme-white.css">
        <!--<link rel="stylesheet" th:href="@{/css/pagina/animate.css}">-->
        <link rel="stylesheet" href="/style.css">
        <!--<link rel="stylesheet" th:href="@{/css/pagina/media-queries.css}">-->
    <link rel="stylesheet" href="/main-pro.css">
    <link rel="icon" href="https://sum.unmsm.edu.pe/alumnoWebSum/image/logo.png" type="image/x-icon">
    
    <link href="/inicio.css" rel="stylesheet">
    <style>
      .layout {
        z-index: initial !important; /* Restablece el z-index a su valor inicial */
      }
	  </style>
	</head>
	<body cz-shortcut-listen="true">
		<slot />
    <script is:inline type="text/javascript" src="/jquery-3.6.0.min.js"></script>
		<!-- <script src="https://kit.fontawesome.com/29ddac97ab.js" crossorigin="anonymous"></script> -->
		<script is:inline type="text/javascript" src="/popper.js"></script>
		<script is:inline type="text/javascript" src="/public/bootstrap.min.js"></script>
		<script is:inline type="text/javascript" src="/public/plugins.js"></script>
		<script is:inline type="text/javascript" src="/public/actions.js"></script>
		<script is:inline type="text/javascript" src="/public/jquery.bestupper.min.js"></script>
		<script is:inline type="text/javascript" src="/public/moment.min.js"></script>
		<!-- <script is:inline type="text/javascript" src="/public/jquery.simple.timer.js"></script> -->
		<script is:inline type="text/javascript" src="/public/util.js"></script>
		<script is:inline type="text/javascript" src="/public/layout.js"></script>
		<script is:inline type="text/javascript" src="/public/main-pro.js"></script><!-- sidebar -->

		<script is:inline src="/bootstrap-notify.min.js"></script>
		<script is:inline src="/inicio.js"></script>
    <script is:inline src="https://kit.fontawesome.com/de8677c58a.js" crossorigin="anonymous"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
